<!DOCTYPE html>
<html lang="ch">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Trademark China</title>
    <link rel="stylesheet" href="assets/reset.css" />
    <link rel="stylesheet" href="css/pdf.css" />
</head>

<body>
    <div class="common_main_container pdf_main_container">
        <div class="pdf_main_wrapper">
            <div class="main_wrapper">
                <div class="logo_warapper">
                    <div class="logo">
                        <img src="images/pdf/logo_coster_associates.png" alt="">
                    </div>
                </div>
                <div class="header">
                    <div class="specification">
                        <ul>
                            <li>TEST</li>
                            <li>26 rue Ribert</li>
                            <li>75117 Paris</li>
                            <li>France</li>
                        </ul>
                    </div>
                    <div class="serialnumber">Invoice SAJ/2019/0687</div>
                </div>
                <div class="maincontent">

                    <div class="header_table_wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        Invoice Date:
                                    </th>
                                    <th>
                                        Source:
                                    </th>
                                    <th>
                                        Currency
                                    </th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr>
                                    <td>Jul/18/2019</td>
                                    <td>SO727</td>
                                    <td>USD($)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="detail_wrapper">
                        <div class='title'>
                            <label>reference: </label>
                            <span>SO727</span>
                        </div>
                        <div class="content_table_wrapper">
                            <table>
                                <thead>
                                    <tr>
                                        <th> Description </th>
                                        <th> Quantity </th>
                                        <th> Unit Price </th>
                                        <th> Taxes </th>
                                        <th> Amount </th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td> Trademark availability search in China </td>
                                        <td> 1 Unit(s) </td>
                                        <td> 150.00 </td>
                                        <td> </td>
                                        <td> $ 150.00 </td>
                                    </tr>
                                    <tr>
                                        <td> Trademark availability search in China </td>
                                        <td> 1 Unit(s) </td>
                                        <td> 150.00 </td>
                                        <td> </td>
                                        <td> $ 150.00 </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="pdf_summerize_wrapper">
                            <ul>
                                <li>
                                    <label for="">Total Without Taxes</label>
                                    <span>$ 440.00</span>
                                </li>
                                <li>
                                    <label for="">Taxes</label>
                                    <span>$ 0.00</span>
                                </li>
                                <li>
                                    <label for="">Total</label>
                                    <span>$ 440.00</span>
                                </li>
                            </ul>
                        </div>

                        <div class='title'>
                            <label>Payment Term: </label>
                            <span>Immediate Payment</span>
                        </div>

                        <div class="rules_wrapper">
                            <p class="title">For USD</p>
                            <ul>
                                <li>Beneficiary Name : COSTER ASSOCIATES</li>
                                <li>Beneficiary Account : 31050136360000002951</li>
                                <li>Beneficiary Bank Name: China Construction Bank, Shanghai Branch</li>
                                <li>Beneficiary Bank Address: No.200 Middle Huaihai Road, SHANGHAI, CHINA</li>
                                <li>Swift Code: PCBCCNBJSHX</li>
                                <li>Company address: Unit 2304, No. 500 Guangdong Road, Huangpu District, Shanghai</li>
                            </ul>

                            <p class="title">For EUR</p>
                            <ul>
                                <li>Beneficiary Name : COSTER ASSOCIATES</li>
                                <li>Beneficiary Account : 31050136360000002951</li>
                                <li>Beneficiary Bank Name: China Construction Bank, Shanghai Branch</li>
                                <li>Beneficiary Bank Address: No.200 Middle Huaihai Road, SHANGHAI, CHINA</li>
                                <li>Swift Code: PCBCCNBJSHX</li>
                                <li>Company address: Unit 2304, No. 500 Guangdong Road, Huangpu District, Shanghai</li>
                            </ul>

                            <p class="title">For HKD</p>
                            <ul>
                                <li>Beneficiary Name : COSTER ASSOCIATES</li>
                                <li>Beneficiary Account : 31050136360000002951</li>
                                <li>Beneficiary Bank Name: China Construction Bank, Shanghai Branch</li>
                                <li>Beneficiary Bank Address: No.200 Middle Huaihai Road, SHANGHAI, CHINA</li>
                                <li>Swift Code: PCBCCNBJSHX</li>
                                <li>Company address: Unit 2304, No. 500 Guangdong Road, Huangpu District, Shanghai</li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="sidebar">

                    <div class="address">
                        <p>+86 (0) 21-6303 3078 </p>
                        <p>info@costerassociates.com</p>
                        <p>www.costerassociates.com</p>
                    </div>
                    <div class="address">
                        <p class="city">SHANGHAI 上海</p>
                        <p>World Trade Tower, Room 2804,</p>
                        <p>500 Guangdong Road,</p>
                        <p>People’s Square,</p>
                        <p>Shanghai, 200001, P.R.C</p>
                        <p>上海市黄浦区广东路500号世界贸易大厦2804室</p>
                        <p>中国, 200001</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>

</html>